<div>
  <h4>Comments on <%= link_to user_path(@user) do%>
                    <%= "#{@user.name}'s" %>
                  <%end%>
    post
  </h4>
  <% comments.each do |comment| %>
    <% author = users.find(comment.author_id) %>
    <div class="comment">
      <p>
        <%= link_to user_path(author) do%>
          <span class="commentor-name"><%= author.name %></span>
        <%end%>
        <span class="comment-text"><%= ": #{comment.text}" %></span>
        <span class="comment-time"><%= "#{time_ago_in_words(comment.created_at)} ago" %></span>
      </p>
      <% if can? :destroy, comment %>
        <%= button_to 'Delete Comment', user_post_comment_path(comment.author, @post, comment), method: :delete %>
      <% end %>
    </div>
  <% end %>
  <p> <%= "No comments for this post yet. Comments will appear here." if comments.length < 1 %> </p>
</div>