<main class="main-container">
  <% if(@user) %>
    <h1></h1>
    <%= link_to user_path(@user) do %>
      <%= render partial: 'users/user_card', locals: {user: @user} %>
    <%end %>

    <%= link_to "New post", new_user_post_path %>

    <% @posts.each do |post| %>
      <a href=<%= "/users/#{@user[:id]}/posts/#{post[:id]}" %> >
        <%= render partial: 'post_card', locals: {post: post, users: @users} %>
      </a>
    <% end %>

    <p class="show-message"> <%= @posts.length < 1 ? "#{@user[:name]} has not made any posts" : '' %> </p>
  <% else %>
    <P class="show-message"><%= "User does not exist" %>
  <% end %>
</main>