<main class="main-container">
  <% if(@user) %>
    <h1></h1>
    <%= link_to user_path(@user) do %>
      <%= render partial: 'users/user_card', locals: {user: @user} %>
    <% end %>

    <% if current_user.present?%>
      <%= link_to "New Post", new_user_post_path %>
    <% end %>

    <% @posts.each do |post| %>
      <%= link_to user_post_path(@user.id, post.id) do %>
        <%= render partial: 'post_card', locals: {post: post, users: @users} %>
      <% end %>
    <% end %>

    <%= will_paginate @posts %>

    <p class="show-message"> <%= @posts.length < 1 ? "#{@user[:name]} has not made any posts" : '' %> </p>
  <% else %>
    <P class="show-message"><%= "User does not exist" %>
  <% end %>
</main>